################################################################################
# Игнорирование временных и ненужных файлов Visual Studio
################################################################################

# Папка Visual Studio
.vs/

# Личные настройки пользователя
*.user
*.suo

# Папки временных файлов сборки
bin/
obj/

# Папки и файлы кэша
*.log
*.temp
*.cache
*.bak
*.pid
*.swp

# Игнорировать конфигурацию NuGet
packages/
*.nupkg

# Конфигурационные файлы
appsettings.Development.json
launchSettings.json

# Игнорировать другие временные файлы
Thumbs.db
desktop.ini
~$*

# Системные файлы
.DS_Store
